@import url('./_fonts.css');

html,
body {
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    font-family: 'Roboto', 'Lato';
    font-weight: 400;
    min-height: 100%;
    min-width: 100%;
    -webkit-user-select: none;
    user-select: none;
}
.h3 {
    font-family: 'Roboto';
    font-weight: 500;
}
.progress {
    cursor: pointer;
    height: 0.1rem;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: height;
}
.progress:hover {
    height: 0.4rem;
}

.player-controls {
    width: 100%;
}
.player-controls .player-controller {
    display: inline-block;
    height: 4rem;
    width: 3rem;
}
.player-controller span {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    height: 4rem;
    width: 3rem;
    vertical-align: middle;
}
.player-controller-pause,
.player-controller-play {
    height: 4rem;
    width: 3rem;
}
.player-controller-playlist {
    background: url('../svg/list.svg');
}
.player-controller-prev {
    background: url('../svg/step-backward.svg');
}
.player-controller-pause {
    background: url('../svg/pause.svg');
}
.player-controller-play {
    background: url('../svg/play.svg');
}
.player-controller-next {
    background: url('../svg/step-forward.svg');
}